<!DOCTYPE html>
<html>
<head>
	<title>Postal Rate Results</title>
</head>
<body>
	<h1>Results</h1>

	<p>Weight: <%= weight %></p>
	<p>Type: <%= mail_type %></p>
	<p>Price: <%= price %></p>

</body>
</html>